.navbar__container{
  margin-top: 0;
  height:79px;
  background-color: #5e72e4;
  display:flex;
  width:100%;
  /* padding-right: 0!important;
    padding-left: 0!important; */
    border-bottom: 1px solid #b1b1b1!important;
   
}

.nav__main {
  display:flex;
  flex:1;
  flex-grow: 1;
  height:46px;
  width:100%;
  align-items: center;
  justify-content: space-between;
  padding-left:30px;
  padding-right:30px;
}

.search__maincontainer{
  display:flex;
}

.icon__container {
  display: flex;
}

.account__box{
  display:flex;
  align-items: center;
}

